In [ ]:
import pandas as pd
df=pd.read_csv("Doceree-HCP_Train.csv",encoding='latin-1')
df.head(5)

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,Portland,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,Arlington,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/deci...,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,New Meadows,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,NaN,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://globalrph.com/medcalcs/warfarin-mainte...,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,Houston,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,https://www.cureus.com/articles/58184-a-review...,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [ ]:
import pandas as pd
dft=pd.read_csv("Doceree-HCP_Test.csv",encoding='latin-1')
dft.head(5)

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS
0,115501,Desktop,2,75.189.231.103,0d5041ff-f0b6-4d1a-9ad7-0a29f7d485b4,Fayetteville,28305.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,Online Medical Journal,Website,https://www.clinicaladvisor.com/home/features/...,Family Practice|Drainage|Clinical|Dermatology|...
1,115502,Mobile,2,24.101.33.158,c8396dd0-969f-4d99-a40b-b7bb1f516154,Conneaut Lake,16316.0,Mozilla/5.0 (iPhone; CPU iPhone OS 15_6_1 like...,Online Medical Journal,Website,https://www.ophthalmologyadvisor.com/topics/ca...,General|Clinical|Operative|Medicine|Cardiology...
2,115503,Desktop,2,172.118.216.142,3c97a081-6518-43f8-9f26-369759cfb471,Covina,91724.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.psychiatryadvisor.com/author/tori-...,Abortion|Anxiety Disorders|Apnea|False|Trauma|...
3,115504,Desktop,7,71.105.120.171,3e2578c8-f794-41af-a38c-c5cfb3c0f014,Brooklyn,11226.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cureus.com/articles/105482-diverti...,Health|Male|Neurological Surgery|Otolaryngolog...
4,115505,Desktop,2,73.82.211.73,ec2ae7ce-6a8c-4156-98a7-07203e60f483,Marietta,30062.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.renalandurologynews.com/home/confe...,chronic kidney disease|pain|nephrology|disease...

In [ ]:
len(dft)

28493

In [ ]:
df3=df['USERZIPCODE'].fillna(0)

In [ ]:
df3.head()

0        97206.0
1        22202.0
2        83654.0
3    229114624.0
4        77008.0
Name: USERZIPCODE, dtype: float64

In [ ]:
df['USERZIPCODE']=df3

In [ ]:
df3=dft['USERZIPCODE'].fillna(0)
dft['USERZIPCODE']=df3

In [ ]:
df.isna().sum()

ID                     0
DEVICETYPE             0
PLATFORM_ID            0
BIDREQUESTIP           0
USERPLATFORMUID        4
USERCITY            6359
USERZIPCODE            0
USERAGENT              2
PLATFORMTYPE           0
CHANNELTYPE            0
URL                    0
KEYWORDS               0
TAXONOMY           81624
IS_HCP                 1
dtype: int64

In [ ]:
df2=df['TAXONOMY'].fillna('None')

In [ ]:
df['TAXONOMY']=df2

In [ ]:
df1=df['USERCITY'].fillna('Neutral')

In [ ]:
df['USERCITY']=df1

In [ ]:
df1=dft['USERCITY'].fillna('Neutral')
dft['USERCITY']=df1

In [ ]:
dft=dft.dropna(axis=0)
df=df.dropna(axis=0)

In [ ]:
dft=dft.reset_index()
df=df.reset_index()

In [ ]:
df.shape

(113930, 15)

In [ ]:
countTYHY=0
countTNHY=0
countTYHN=0
count=0
for i in range(len(df)):
    # print(i)
    if df['TAXONOMY'][i]!='None' and df['IS_HCP'][0]!=0.0:
        countTYHY+=1
    elif df['TAXONOMY'][i]=='None' and df['IS_HCP'][0]!=0.0:
        countTNHY+=1
    elif df['TAXONOMY'][i]!='None' and df['IS_HCP'][0]==0.0:
        countTYHN+=1
    else:
        count+=1

In [ ]:
print(countTYHN,countTNHY,countTYHY,count)

32309 0 0 81621

In [ ]:
for i in range(len(df)):
    df['KEYWORDS'][i]=df['KEYWORDS'][i].split('|')

<ipython-input-36-f3a50766caba>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['KEYWORDS'][i]=df['KEYWORDS'][i].split('|')

In [ ]:
for i in range(len(dft)):
    dft['KEYWORDS'][i]=dft['KEYWORDS'][i].split('|')

<ipython-input-37-9358592fd76c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['KEYWORDS'][i]=dft['KEYWORDS'][i].split('|')

In [ ]:
df.shape

(113930, 15)

In [ ]:
new_words=[]
for i in range(len(df)):
  for j in range(len(df['KEYWORDS'][i])):
    if df['KEYWORDS'][i][j] not in new_words:
      new_words.append(df['KEYWORDS'][i][j])
print(len(new_words))

1421

In [ ]:
new_words_t=[]
for i in range(len(dft)):
  for j in range(len(dft['KEYWORDS'][i])):
    if dft['KEYWORDS'][i][j] not in new_words_t:
      new_words_t.append(dft['KEYWORDS'][i][j])
print(len(new_words_t))

1421

In [ ]:
count_diff=[]
for i in range(len(new_words_t)):
  if new_words_t[i] not in new_words:
    count_diff.append(new_words_t[i])

In [ ]:
count_diff1=[]
for i in range(len(new_words)):
  if new_words[i] not in new_words_t:
    count_diff1.append(new_words[i])

In [ ]:
len(count_diff)

6

In [ ]:
for i in range(len(dft)):
  l1=[]
  for j in range(len(dft['KEYWORDS'][i])):
    if dft['KEYWORDS'][i][j] not in count_diff:
      l1.append(dft['KEYWORDS'][i][j])
  dft['KEYWORDS'][i]=l1

<ipython-input-48-96f756f0eaa3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['KEYWORDS'][i]=l1

In [ ]:
for i in range(len(dft)):
  l1=[]
  for j in range(len(dft['KEYWORDS'][i])):
    if dft['KEYWORDS'][i][j] not in count_diff1:
      l1.append(dft['KEYWORDS'][i][j])
  dft['KEYWORDS'][i]=l1

<ipython-input-44-28e5fc07140f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['KEYWORDS'][i]=l1

In [ ]:
for i in range(len(df)):
  l1=[]
  for j in range(len(df['KEYWORDS'][i])):
    if df['KEYWORDS'][i][j] not in count_diff1:
      l1.append(df['KEYWORDS'][i][j])
  df['KEYWORDS'][i]=l1

<ipython-input-46-7f145563c94e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['KEYWORDS'][i]=l1

In [ ]:
for i in range(len(dft)):
  dft['USERCITY'][i]=dft['USERCITY'][i].replace(" ","")

<ipython-input-50-a3e08bd8b38b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['USERCITY'][i]=dft['USERCITY'][i].replace(" ","")

In [ ]:
for i in range(len(df)):
  df['USERCITY'][i]=df['USERCITY'][i].replace(" ","")

<ipython-input-51-d2d2374d29ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['USERCITY'][i]=df['USERCITY'][i].replace(" ","")

In [ ]:
for i in range(len(dft)):
  for j in range(len(dft['KEYWORDS'][i])):
    dft['KEYWORDS'][i][j]=dft['KEYWORDS'][i][j].replace(" ","")

In [ ]:
for i in range(len(df)):
  for j in range(len(df['KEYWORDS'][i])):
    df['KEYWORDS'][i][j]=df['KEYWORDS'][i][j].replace(" ","")

In [ ]:
def low_case(string1):
  return string1.lower()

In [ ]:
for i in range(len(dft)):
  for j in range(len(dft['KEYWORDS'][i])):
    dft['KEYWORDS'][i][j]=dft['KEYWORDS'][i][j].lower()
dft.head()

,index,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS
0,0,115501,Desktop,2,75.189.231.103,0d5041ff-f0b6-4d1a-9ad7-0a29f7d485b4,Fayetteville,28305.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,Online Medical Journal,Website,https://www.clinicaladvisor.com/home/features/...,"[familypractice, drainage, clinical, dermatolo..."
1,1,115502,Mobile,2,24.101.33.158,c8396dd0-969f-4d99-a40b-b7bb1f516154,ConneautLake,16316.0,Mozilla/5.0 (iPhone; CPU iPhone OS 15_6_1 like...,Online Medical Journal,Website,https://www.ophthalmologyadvisor.com/topics/ca...,"[general, clinical, operative, medicine, cardi..."
2,2,115503,Desktop,2,172.118.216.142,3c97a081-6518-43f8-9f26-369759cfb471,Covina,91724.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.psychiatryadvisor.com/author/tori-...,"[abortion, anxietydisorders, apnea, false, tra..."
3,3,115504,Desktop,7,71.105.120.171,3e2578c8-f794-41af-a38c-c5cfb3c0f014,Brooklyn,11226.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cureus.com/articles/105482-diverti...,"[health, male, neurologicalsurgery, otolaryngo..."
4,4,115505,Desktop,2,73.82.211.73,ec2ae7ce-6a8c-4156-98a7-07203e60f483,Marietta,30062.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.renalandurologynews.com/home/confe...,"[chronickidneydisease, pain, nephrology, disea..."

In [ ]:
for i in range(len(df)):
  for j in range(len(df['KEYWORDS'][i])):
    df['KEYWORDS'][i][j]=df['KEYWORDS'][i][j].lower()
df.head()

,index,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS,TAXONOMY,IS_HCP
0,0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,Portland,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,"[general, endocrine, false, medicine, surgery,...",None,0.0
1,1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,Arlington,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/deci...,"[bonemarrow, radiography, chronic, oncology, p...",None,0.0
2,2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,NewMeadows,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,"[general, endocrine, false, medicine, surgery,...",None,0.0
3,3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,Neutral,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://globalrph.com/medcalcs/warfarin-mainte...,"[dental, total, clinical, pharmacology, physic...",2084P0800X,1.0
4,4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,Houston,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,https://www.cureus.com/articles/58184-a-review...,"[criticalcare, emergencymedicine, generalpract...",None,0.0

In [ ]:
dft.shape

(28492, 13)

In [ ]:
import sklearn

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
tf = TfidfVectorizer(lowercase=False)
cv = CountVectorizer(lowercase=False)

In [ ]:
snow_stem = df[['KEYWORDS']].copy()

In [ ]:
snow_stem_t = dft[['KEYWORDS']].copy()

In [ ]:
snow_stem_t

                                                KEYWORDS
0      [familypractice, drainage, clinical, dermatolo...
1      [general, clinical, operative, medicine, cardi...
2      [abortion, anxietydisorders, apnea, false, tra...
3      [health, male, neurologicalsurgery, otolaryngo...
4      [chronickidneydisease, pain, nephrology, disea...
...                                                  ...
28487  [transplantation, psychiatry, heartfailure, an...
28488  [small, hospitals, nephrology, emergencymedici...
28489  [small, hospitals, nephrology, emergencymedici...
28490  [the, disease, pain, radiology, lungabscess, d...
28491  [medicine, general, clinical, false, urology, ...

[28492 rows x 1 columns]

In [ ]:
from nltk.stem import SnowballStemmer
s_stem=SnowballStemmer(language='english')
for i in range(len(snow_stem_t)):
    for j in range(len(snow_stem_t['KEYWORDS'][i])):
        snow_stem_t['KEYWORDS'][i][j]=s_stem.stem(snow_stem_t['KEYWORDS'][i][j])
snow_stem_t.head()

                                            KEYWORDS
0  [familypractic, drainag, clinic, dermatolog, o...
1  [general, clinic, oper, medicin, cardiolog, on...
2  [abort, anxietydisord, apnea, fals, trauma, me...
3  [health, male, neurologicalsurgeri, otolaryngo...
4  [chronickidneydiseas, pain, nephrolog, diseas,...

In [ ]:
from nltk.stem import SnowballStemmer
s_stem=SnowballStemmer(language='english')
for i in range(len(snow_stem)):
    for j in range(len(snow_stem['KEYWORDS'][i])):
        snow_stem['KEYWORDS'][i][j]=s_stem.stem(snow_stem['KEYWORDS'][i][j])
snow_stem.head()

                                            KEYWORDS
0  [general, endocrin, fals, medicin, surgeri, ur...
1  [bonemarrow, radiographi, chronic, oncolog, ps...
2  [general, endocrin, fals, medicin, surgeri, ur...
3  [dental, total, clinic, pharmacolog, physician...
4  [criticalcar, emergencymedicin, generalpractic...

In [ ]:
for i in range(len(snow_stem)):
  s1=' '.join(snow_stem['KEYWORDS'][i])
  snow_stem['KEYWORDS'][i]=str(s1)
snow_stem.head()

                                            KEYWORDS
0  general endocrin fals medicin surgeri urolog c...
1  bonemarrow radiographi chronic oncolog psychia...
2  general endocrin fals medicin surgeri urolog c...
3  dental total clinic pharmacolog physician heal...
4  criticalcar emergencymedicin generalpractic as...

In [ ]:
for i in range(len(snow_stem_t)):
  s1=' '.join(snow_stem_t['KEYWORDS'][i])
  snow_stem_t['KEYWORDS'][i]=str(s1)
snow_stem_t.head()

                                            KEYWORDS
0  familypractic drainag clinic dermatolog ophtha...
1  general clinic oper medicin cardiolog oncolog ...
2  abort anxietydisord apnea fals trauma mentalhe...
3  health male neurologicalsurgeri otolaryngolog ...
4  chronickidneydiseas pain nephrolog diseas heal...

In [ ]:
X=tf.fit_transform(snow_stem['KEYWORDS'])

In [ ]:
X1=tf.fit_transform(snow_stem_t['KEYWORDS'])

In [ ]:
X

<113930x1066 sparse matrix of type '<class 'numpy.float64'>'
	with 3907776 stored elements in Compressed Sparse Row format>

In [ ]:
X1

<28492x1066 sparse matrix of type '<class 'numpy.float64'>'
	with 978178 stored elements in Compressed Sparse Row format>

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, df1['TAXONOMY'], test_size=0.2, random_state=42)

In [ ]:
X_train

<91144x1066 sparse matrix of type '<class 'numpy.float64'>'
	with 3127483 stored elements in Compressed Sparse Row format>

In [ ]:
y_train

17088     149
29389     207
30708     207
26493     207
105852    143
         ...
76820     207
110268    207
103694    207
860        43
15795     207
Name: TAXONOMY, Length: 91144, dtype: int64

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming you have a DataFrame called 'df' and the encoded labels stored in 'encoded_labels'

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit the label encoder on the original labels in the DataFrame
label_encoder.fit(df1['TAXONOMY'])

# Transform the original labels into encoded values
encoded_labels = label_encoder.transform(df1['TAXONOMY'])

# Create a new column in the DataFrame for the encoded labels
df1['TAXONOMY'] = encoded_labels

In [ ]:
X_test

<22786x1066 sparse matrix of type '<class 'numpy.float64'>'
	with 780293 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Select the two columns you want to use for prediction
# selected_columns = ['column1', 'column2']
# X_train_selected = X_train[selected_columns]
# X_test_selected = X_test[selected_columns]

# Initialize the Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier using the selected columns
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set using the selected columns

# Evaluate the accuracy of the classifier

RandomForestClassifier(random_state=42)

In [ ]:
y_pred = rf_classifier.predict(X1)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8190994470288774

In [ ]:
import pickle
filename = 'finalized_model_taxo_rf.sav'
pickle.dump(rf_classifier, open(filename, 'wb'))

In [ ]:
import pandas as pd

# Assuming you have a DataFrame called 'df'

# Get all unique values in a specific column
unique_values = df['TAXONOMY'].unique()
# print(unique_values)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Assuming you have a list or array of categorical labels
# labels = ['apple', 'banana', 'orange', 'apple', 'orange']

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit the label encoder on the labels
label_encoder.fit(unique_values)

# Transform the labels into numerical values
encoded_labels = label_encoder.transform(unique_values)

# Print the encoded labels
print(encoded_labels)

[207 149 151 143 156  56 155  50 112 144  59  43 193  86 145  67 121  76
 139 183  60  64 189  33  61  23 174  37 136 206  79  58 192 182  19  92
  69  54 164  63 185  73 153 152  18  66 127 172  25  46 187 141 140 177
  53 113   5  57  70  62 110 120  80 160 135 201  44   0  31 173 134  78
 138 116   9  82  93 118 150 137 170 100  47 184  72 186 131 191 161 147
  39  27  45  28  15 142  96 101  68 157 159 205  24 176  32  48 199  26
  16  30  99  29  83 123  98 114 102  36 175 190 125 133 117 165 167  51
  84  65  74  88  52 107  20  17 200  13 122 168  11 194  35 124  75  38
 111  14 104  10 203 115   2   3  87 162 109 166 202   8  81 198 129 108
 169  91   4 126 196  42  71  77   1 171 119 132 146  55 105 181  49  90
 163  94 180 106  41  85 197  97 188  34 128   7 148 103 154  89   6 130
  21 204 179  40 195  22 158 178  12  95]

In [ ]:
df1=df.copy()

In [ ]:
new_list=[]
for i in range(len(y_pred)):
  new_list.append([dft['ID'][i],y_pred[i]])

In [ ]:
import pickle
filename = 'finalized_model_taxo.sav'
pickle.dump(stacking_classifier, open(filename, 'wb'))

In [ ]:
y_pred = stacking_classifier.predict(X_test)

In [ ]:
len(y_pred)

113930

In [ ]:
new_list=[]
for i in range(len(y_pred)):
  new_list.append([dft['ID'][i],y_pred[i]])

In [ ]:
df_submission=pd.DataFrame(new_list,columns=['ID','TAXONOMY'])

In [ ]:
df_submission.head()

       ID  TAXONOMY
0  115501       207
1  115502       149
2  115503       207
3  115504       207
4  115505       207

In [ ]:
dfss=pd.read_csv("/content/Doceree-HCP_Submission_Mind_Hacker_NU_TAXONOMY.csv")

In [ ]:
dfss.head()

       ID  TAXONOMY
0  115501       207
1  115502       149
2  115503       207
3  115504       207
4  115505       207

In [ ]:
file_path = '/content/Doceree-HCP_Submission_Mind_Hacker_NU_TAXONOMY.csv'

In [ ]:
df_submission.to_csv(file_path, index=False)

In [ ]:
df_submission.to_csv("Doceree-HCP_Submission_Mind_Hacker_NU.csv")